* {
    padding: 0px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bolder;
    box-sizing: border-box;
}

body {
    background-color: #f4f4f4;
}

.main {
    height: 85vh;
    padding: 0px 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.top, .bottom {
    text-align: center;
    padding: 20px;
    background-color: #ddd;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

.messageDisplay {
    height: 60px;
    font-size: 1.5em; 
    text-align: center; 
}

.windowName {
    text-align: center;
    font-weight: bolder;
    font-size: 40px;
}

.handDisplay {
    justify-content: space-around; 
}

.buttons {
    justify-content: space-around; 
    gap: 50px;
    height: 80px;
}

button {
    font-family: monospace;
    font-weight: bolder;
    cursor: pointer;
    background-color: rgb(41, 125, 250);
    min-width: 100px;
    padding: 15px;
    border-radius: 10px;
}
